<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="google-site-verification" content="DUj2DkaZTpip-GRf8yNE4CwjRoc3o1wAE8ePgESvNTI" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
    <link href="/static/css/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/videojs-resolution-switcher.css">

    <script src="/static/js/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
      <script src="/static/js/bootstrap-slider.min.js"></script>
    <script src="/static/js/highlight.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color:#800000;">
  	<a class="navbar-brand" href="http://silver.uchicago.edu:5000/">UChiVideo</a>
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
      		<li class="nav-item">
        		<a class="nav-link" href="http://silver.uchicago.edu:5000/"> Home </a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="https://github.com/hyperpro/internet_video">Source Codes</a>
      		</li>
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          		About
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="http://silver.uchicago.edu:5000/faq">Frequently Asked Questions</a>
          			<a class="dropdown-item" href="http://silver.uchicago.edu:5000/terms">Term of Participation</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="mailto:xxu.zzhang@gmail.com">Contact</a>
        		</div>
      		</li>
    	</ul>
    
		<div class="btn-toolbar">
			<button type="button" class="btn  btn-lg btn-sm mr-1" onclick="location.href='{{ url_for('logoutpage') }}'">Log out</button>
		</div>

    <div class="btn-toolbar">
      <button type="button" class="btn  btn-lg btn-sm mr-1" onclick="location.href='{{ url_for('optoutpage') }}'">Opt out</button>
    </div>


  	</div>
	</nav>

{% block page_content %}{% endblock %}

</body>

</html>