{% extends 'base.html' %}

{% block page_content %}
<main role="main" class="flex-shrink-0">

  <div class="container">
    <br/><br/>
    <h1 class="mt-5">YouTube Video Quality Monitor</h1>
    <p class="lead" align="justify">We are serving a proxy to monitor the quality of YouTube videos. We collect the data about the quality of the videos. From this data, we can ultimately design a better video delivery mechanisms for improving your viewing experience. </p>

    <p class="lead" align="justify"> <b>Usage:</b> You can install our <a href="#">extension</a> in your browser. When you click on a YouTube video to begin playing it, the video page will be redirected to our system, which will play your video but also overlay a small interface on the video that will allow you to rate the video quality in real time. This interface allows you to rate the video quality when you watch the video. At the end of the video, you may be asked for filling out a simple survey about the video quality. </p>

    <p class="lead" align="justify"> <b>Tutorial:</b> You can watch a tutorial for how our system operates <a href="#">here</a>.</p>

    <p class="lead" align="justify"> UChiVideo is a research project at Department of Computer Science, University of Chicago. More questions see <a href="#">FAQ</a> and <a href="#">terms of participation</a>. If you have any questions or concerns, please <a href="#">contact</a> us.</p>

    <p class="lead" align="justify"> {{userinfo | safe}} </p>

  </div>
</main>
{% endblock %}
