{% extends 'base.html' %}

{% block page_content %}
<main role="main" class="flex-shrink-0">

  <div class="container">
    <br/><br/>
    <h1 class="mt-5">YouTube Video Quality Monitor</h1>
    <p class="lead" align="justify">We are serving a proxy for monitoring the quality of YouTube videos. We collect the data about the quality of the videos. By those data, we can advice the content provider to design a better video delivery mechanism for improving your viewing experience. </p>

    <p class="lead" align="justify"> <b>Usage:</b> You can install our <a href="#">extension</a> in your browser. When you click a YouTube video, the video page will be redirected to our monitor system. You could rate the video quality when you watch the video. Before you close the video tab, you may be asked for filling out a simple survey about the video quality. </p>

    <p class="lead" align="justify"> <b>Tutorial:</b> You can watch the tutorial of using this website <a href="#">here</a>.</p>

    <p class="lead" align="justify"> UChiVideo is a research project started by Department of Computer Science, University of Chicago. More questions see <a href="#">FAQ</a> and <a href="#">Term of participant</a>. If you have any concerns, please <a href="#">contact</a> us.</p>

    <p class="lead" align="justify"> {{userinfo | safe}} </p>

  </div>
</main>
{% endblock %}