{% extends 'base.html' %}

{% block page_content %}
<main role="main" class="flex-shrink-0">

  <div class="container">
    
  <div class="py-5 text-center">
    <h2>Video Quality Survey</h2>
    <p class="lead">This survey can help us understand your watching behavior in video viewing. We do appreciate you to fill out the following form.</p>
  </div>

  <div class="row">

    <div class="col-md-12 order-md-1">
      <form method="POST" action="{{ url_for('save_data') }}" class="needs-validation" novalidate>
        <input type="hidden" name="posttype" value="3">

          <div class="mb-3">
            <label for="videoscore">How would you like to rate the video quality? (0: very bad, 10: Excellent)</label>
            <select class="custom-select d-block w-100" id="videoscore" name="videoscore" required>
                <option value="">Choose...</option>
                <option>10</option>
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                <option>0</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid device.
            </div>
        </div>

      	   <div class="mb-3">
            <label for="attention">How much attention did you pay to the video you just watched?</label>
            <select class="custom-select d-block w-100" id="attention" name="attention" required>
              <option value="">Choose...</option>
              <option>Very much</option>
              <option>A bit</option>
              <option>Not at all</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid device.
            </div>
        </div>

        <div class="mb-3">
            <label for="annoyfactor">Which factor annoy you the most during video playback</label>
            <select class="custom-select d-block w-100" id="annoyfactor" name="annoyfactor" required>
              <option value="">Choose...</option>
              <option>Low Resolution</option>
              <option>Video Stalls</option>
              <option>Resolution Change frquently</option>
              <option>No factors</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid device.
            </div>
        </div>

        <div class="mb-3">
            <label for="firstannoy">Which factor annoy you the second most during video playback</label>
            <select class="custom-select d-block w-100" id="firstannoy" name="firstannoy" required>
              <option value="">Choose...</option>
              <option>Low Resolution</option>
              <option>Video Stalls</option>
              <option>Resolution Change frquently</option>
              <option>No factors</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid device.
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">submit your sign-up form</button>

      </form>
    </div>
  </div>


  </div>
</main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; University of Chicago</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Contact</a></li>
    </ul>
  </footer>
</div>
{% endblock %}