{% extends 'base.html' %}

{% block page_content %}
<main role="main" class="flex-shrink-0">

    <div class="container">
        <br/><br/>
        <h2 class="bd-title" id="content">Online consent form</h2>
        <h4 class="mt-5">Research description</h4>
        We are researchers at the University of Chicago, and we are going to explore the user difference in their
        quality preferences of viewing videos on the Internet. During this research, we will need your following
        information:
        <ul>
            <li>Your name and your e-mail address.</li>
            <li>Your computing devices for watching Internet videos, including the type of your
                device (laptop, desktop, tablet, phone), and the size of your monitor.
            </li>
            <li>Your Internet connection, including connection type (cellular, WiFi, cable, fiber),
                internet service provider, the internet plan you are using.
            </li>
            <li>your frequently used video websites and your time spent on them per day.</li>
            <li>Your quality rating of the videos you watched, and the annoying factors that
                are harmful to your viewing experience.
            </li>
        </ul>

        <h4 class="mt-5">Procedure</h4>
        The procedure of our research is
        <ol>
            <li>If you agree to participate in our program, we will give you an online registration form by which you
                can have
                the access to our video proxy. After registration, you can watch the videos through our video proxy
                which allows
                us to monitor the quality of video.
            </li>
            <li>You will install an extension on web browser which will redirect your webpage to our web proxy if you
                click a online video link.
            </li>
            <li>You will watch the videos through our proxy where we record the quality of your perceived videos and
                the status of your video player. The data includes the playing progress of the video player, watching
                video in
                the fullscreen mode or not, how many seconds of the video have downloaded in your player buffer, the
                resolution
                of video you are watching, and your downloading status, and the pixel size of your player.
            </li>
            <li>You will rate the video that you are currently watching on the video player provided by our video
                proxy.
            </li>
            <li>After you watch a YouTube video, a webpage might be popped up, and you will ask the questions on that
                page
                including your rating to the video you just watch and the annoying factors that affect your experience.
                You will
                have an option to test your internet connection speed which will be recorded.
            </li>
            <li>You can decide to quit our study and delete all your related data at any time if you feel
                uncomfortable.
            </li>
        </ol>
        Participation should take about at least 100 minutes and rate more than 100 videos. Your participation is
        voluntary.

        <h4 class="mt-5">Incentives</h4>
        You will be compensated an Amazon gift card $100 for participating our study.

        <h4 class="mt-5">Risks and Benefits</h4>
        Your participation in this study does not involve any risk to you beyond that of everyday life. Taking part in
        this research study may not benefit you personally, but we may learn new things that could help the video
        streaming providers give better services to their customers.

        <h4 class="mt-5">Confidentiality</h4>
        The following procedures will be followed to keep all your information confidential in this study:
        <ul>
            <li>To protect your privacy, we will NOT record the content of the videos you are watching. By a crosstalk
                system, your name and e-mail
                address will be kept in a number code rather than the real information. The crosstalk system will be
                destroyed after our study. Your privacy will be protected to the
                extent allowed by law.
            </li>
            <li>You can delete all the information we record any time.</li>
            <li>To make sure that this research is being carried out in the proper way, the University of Chicago IRB
                may
                review study records. The Office of Social and Behavioral Sciences may also look over study records
                during
                required reviews.
            </li>

        </ul>


        <h4 class="mt-5">Contact and Questions</h4>
        If you have questions or concerns about the study, you can contact the researcher:
        <p></p>
        <h6>Xu Zhang</h6>
        <h6>773-219-7592</h6>
        <h6>zhangxu@uchicago.edu</h6>
        <p></p>
        <p>If you have any questions about your rights as a participant in this research, feel you have been harmed, or
            wish to discuss other study-related concerns with someone who is not part of the research team, you can
            contact
            the University of Chicago Social & Behavioral Sciences Institutional Review Board (IRB) Office by phone at
            (773)
            702-2915, or by email at sbs-irb@uchicago.edu.</p>

        <h4 class="mt-5">Consent</h4>
        Participation is voluntary. Refusal to participate or withdrawing from the research will involve no penalty or
        loss of benefits to which you might otherwise be entitled.

    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; University of Chicago</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="http://silver.cs.uchicago.edu:5000/terms">Terms</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
        </ul>
    </footer>
</main>
{% endblock %}